* {
  margin: 0;
  padding: 0;
}

#landing {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

#container {
  width: 80%;
  height: 400px;
  background-color: whitesmoke;
  margin: 150px auto 0;
  border: 1px solid dimgrey;
  border-radius: 30px;
  min-width: 600px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.5em;
  font-weight: 500;
  word-spacing: 0.25em;
  margin: 25px 0 15px;
  text-align: center;
}

#test-text {
  padding: 50px 0;
}

.test-and-results {
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  font-family: 'VT323', monospace;
}

.selected {
  font-size: 2em;
  animation: highlight-selected 1s infinite; /* IE 10+, Fx 29+ */
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

@-webkit-keyframes highlight-selected {
  0%,
  49% { background-color: whitesmoke; }

  50%,
  100% { background-color: lightgrey; }
}
